# Python
##########

### Python ###
__pycache__/
*.py[cod]
*$py.class

### Distribution / packaging ###
dist/
build/
develop-eggs/
*.egg-info/
*.egg

### PyInstaller ###
#  Usually these files are written by a CI script in a temporary folder.
#  If you do generated them in your workspace, you probably want to ignore them.
*.spec

### Installer logs ###
pip-log.txt

### Unit test / coverage reports ###
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

### Environments ###
venv/
.venv/
env/
.env

### VS Code ###
.vscode/

### Jupyter Notebook ###
.ipynb_checkpoints

### IDEs ###
.idea/

### OS-specific ###
.DS_Store
Thumbs.db

### Executables ###
*.exe
*.msi

### Archivos de datos viejos en la raíz ###
BASE DE DATOS ENERO - DICIEMBRE 2024.xls
"BDD 2024 L*.xlsx"
BDD ABRIL 2025.xlsx
BDD ENERO 2025.xlsx
BDD FEBRERO 2025.xlsx
BDD JUNIO 2025.xlsx
BDD MARZO 2025.xlsx
BDD MAYO 2025.xlsx
Claves de Rechazo - GPT.xlsx